body
{
	background-color: brown;
	color: honeydew;
	font: status-bar;
}

img
	{
		background-image: linear-gradient(217dg, rgb(255,0,0,8)70.71%),
		linear-gradient(127dg,black,black 70.71%),
		linear-gradient(336dg, rgb(0,0,255,8), rgb(0,0,255,0)70.71%);
		inset-block: initial;
		


	}
	#image1
	{
		background-image: linear-gradient(217dg, rgb(255,0,0,8)70.71%),
		linear-gradient(127dg,black,black 70.71%),
		linear-gradient(336dg, rgb(0,0,255,8), rgb(0,0,255,0)70.71%);
		
	}
	div
	{
		display: inline-block;
	}

	
	.header{
		overflow:hidden;
		background-color:darkred
		padding: 20px 10px;}

		.header a{
		float: left;
		color: rgb(255, 255, 255);
		text-align: right;
		padding: 20px;
		text-decoration:none;
		font-size: 30px;
		line-height: 50px;
		border-radius: 50px;
	
		
	}




	.header a:hover{
		background-color: rgb(104, 2, 87);
		color: rgb(17, 231, 221);
	}


.header a:active{
	background-color: mediumspringgreen;
} .header-right{
	float: right;
}

.header a{
	float: none;
	display: inline;
	text-align: center;
}